<p id="notice"><%= notice %></p>

<%= render 'form', latency: @latency %>

<%= render 'history', latency: @latency %>'

<%= link_to 'Edit', edit_latency_path(@latency) %> |
<%= link_to 'Back', latencies_path %>
