<%#= form_with(model: site, local: true) do |form| %>
<%= form_for site do |form| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <br>
    <%= form.label :site_name %>
    <%= form.text_field :site_name %><br><p>

    <%= form.label :address %>
    <%= form.text_field :address %><br><p>

    <%= form.label :latitude %>
    <%= form.text_field :latitude %><br><p>

    <%= form.label :longitude %>
    <%= form.text_field :longitude %><br><p>

    <%= form.label :pop_assigned, "POP" %>
    <%#= form.select :pop_assigned, @pops %>
    <%= form.select :pop_assigned, Pop.all.pluck(:com_popname).compact %><br><p>

    <%= form.label :hub_status %>
    <%= form.check_box :hub_status, {}, true, false %><br><p>

    </div>
  <div class="actions">
    <%= form.submit %>

    <%= debug @site %>

  </div>
  <% end %>
