<%#= form_with(model: site, local: true) do |form| %>
<%= form_for site do |form| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sitename %><br>
    <%= form.text_field :sitename %>

    <%= form.label :address %><br>
    <%= form.text_field :address %>

    <%= form.label :latitude %><br>
    <%= form.text_field :latitude %>

    <%= form.label :longitude %><br>
    <%= form.text_field :longitude %>

    <%= form.label :pop_assigned %><br>
    <%#= form.select :pop_assigned, @pops %>
    <%= form.select :pop_assigned, Pop.all.pluck(:com_popname).compact %>

    </div>
  <div class="actions">
    <%= form.submit %>

    <%= debug @site %>

  </div>
  <% end %>
