<p id="notice"><%= notice %></p>

<p>
  <strong>Site Name:</strong>
  <%= @site.address %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @site.coordinates %>
</p>

<p>
  <strong>POP Name:</strong>
  <%= @site.pop_assigned %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>

<%= debug @site %>
